{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">
            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Add Partner</h2>
                    <form method="POST" action="{{ url_for('.add_partner')}}">
                        <div class="row">
                          <select class="selectpicker" name="company">
                              <option>unselected</option>
                              {% for comp in my_companies %}
                                  <option>{{ comp }}</option>
                              {% endfor %}
                          </select>
                          <div>
                            <p style="color:red">  {{ message }}  </p>
                          </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="list_company" style="color:white">Name:</label>
                                  <input type="text" class="form-control" id="name" name="name">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="list_company" style="color:white">Phone:</label>
                                  <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="list_company" style="color:white">email:</label>
                                  <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Add Partner</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
