{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">
            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Add Company</h2>
                    <form method="POST" action="{{ url_for('.add_company')}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="list_company" style="color:white">Enter company name in text box below:</label>
                                  <input type="text" placeholder="Do Not Use Quotes" class="form-control" id="company" name="company">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Add Company</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
