{% extends "base.html" %}

{% block content %}
        <section class="site-section section-ui-elements">
            <div class="container">


                <div class="row mt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center heading-separator" style="color:white">Enter Credentials</h2>
                        <form method="POST" action="{{ url_for('.build_creds')}}">
                            <div class="row">
                                <div class="col-sm-12">
                                  {{ message }}
                                    <div class="form-group">
                                      <label for="username">Username:</label>
                                      <input type="text" class="form-control" id="username" name="username">
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-20">
                                    <div class="form-group">
                                      <label for="password" style="color:white">Password:</label>
                                      <input type="password" class="form-control" id="password" name="password">
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-20">
                                    <div class="form-group">
                                      <label for="passwordv" style="color:white">Password Verify:</label>
                                      <input type="password" class="form-control" id="passwordv" name="passwordv">
                                    </div>
                                </div>
                            </div>
                            <div>
                              <p style="color:green"> {{ error }} </p>
                            <div class="text-center mt-20">
                                <button class="btn btn-green">Create Credentials</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.form -->

{% endblock %}
