{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Delete Contact</h2>
                    <form method="POST" action="{{ url_for('.delete_customer')}}">
                      <div class="col-sm-4">
                          <select class="selectpicker" name="customer">
                              <option>unselected</option>
                              {% for cust in my_customer %}
                                  <option>{{ cust }}</option>
                              {% endfor %}
                          </select>
                          <div style="color:red">
                            {{ message }}
                          </div>
                      </div>

                        <div class="text-center mt-20">
                            <button class="btn btn-green">Delete Contact</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
