{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Delete travel</h2>
                    <form method="POST" action="{{ url_for('.delete_travel')}}">
                      <div class="col-sm-4">
                          <select class="selectpicker" name="travel">
                              <option value="unselected">unselected</option>
                              {% for trav in my_travels %}
                                  <option value="{{ trav }}">{{ trav }}</option>
                              {% endfor %}
                          </select>
                          <div style="color:red">
                            {{ message }}
                          </div>
                      </div>
                      <br>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Delete Travel</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
