{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">Edit Log</h2>
                    <form method="POST" action="{{ url_for('.edit_log')}}">
                      <div class="col-sm-12">
                          <select class="selectpicker" name="log_info">
                              <option>unselected</option>
                              {% for log in my_logs %}
                                  <option>{{ log }}</option>
                              {% endfor %}
                          </select>
                          <div style="color:red">
                            {{ message }}
                          </div>
                      </div>
                      <br>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Edit Log</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
