{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white"> Make Changes</h2>
                    <form method="POST" action="{{ url_for('.edit_customer_complete') }}">
                        <div class="row">
                          <div class="col-sm-12">
                              <div class="form-group">
                                <label for="list_company" style="color:white">Name:</label>
                                <input type="text" value="{{ name }}"class="form-control" id="name" name="name">
                              </div>
                          </div>
                          <div class="col-sm-12">
                              <div class="form-group">
                                <label for="list_company" style="color:white">Phone:</label>
                                <input type="tel" value="{{ phone }}" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                              </div>
                          </div>
                          <div class="col-sm-12">
                              <div class="form-group">
                                <label for="list_company" style="color:white">email:</label>
                                <input type="email" value="{{ email }}" class="form-control" id="email" name="email">
                              </div>
                          </div>
                          <div>
                            <input type="text" hidden value="{{ number }}" id="number" name="number">
                            {{ message }}
                          </div>
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Change Contact</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
