{% extends "base.html" %}

{% include "navbar.html" %}


{% block content %}
<div class="col-lg-12">
        <!-- seo fact area start -->
        <div class="card">
              <div class="card-body"
                <h1>List of Deals</h1>
                <div class="data-tables datatable-dark">
                      <table id="example" class="styled-table">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Number</th>
                                    <th>QTR</th>
                                    <th>Acct Mgr</th>
                                    <th>Company</th>
                                    <th>Customer</th>
                                    <th>Partner</th>
                                    <th>OPE</th>
                                    <th>Deal</th>
                                    <th>Size</th>
                                    <th>Status</th>
                                    <th>Thoughts</th>
                                    <th>Notes</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for deal in my_deals %}
                                    <tr>
                                        <td>{{deal[0]}}</td>
                                        <td>{{deal[1]}}</td>
                                        <td>{{deal[2]}}</td>
                                        <td>{{deal[3]}}</td>
                                        <td>{{deal[4]}}</td>
                                        <td>{{deal[5]}}</td>
                                        <td>{{deal[6]}}</td>
                                        <td>{{deal[7]}}</td>
                                        <td>{{deal[8]}}</td>
                                        <td>{{deal[9]}}</td>
                                        <td>{{deal[10]}}</td>
                                        <td>{{deal[11]}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
              </div>
              <p><h3 style="color:white">Deal Pipeline is : {{ total }} </h3></p>
              <p><h3 style="color:white">Deals under development : {{ dev_total }} </h3></p>
        </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){$('#example').DataTable();});
</script>


  {% endblock %}
