{% extends "base.html" %}

{% include "navbar.html" %}



{% block content %}
<div class="col-lg-12">
        <!-- seo fact area start -->
        <div class="card">
              <div class="card-body"
                <h1>List of Logs</h1>
                <div class="data-tables datatable-dark">
                      <table id="example" class="styled-table">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Number</th>
                                    <th>Log Entry</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for log in my_logs %}
                                    <tr>
                                        <td>{{log[0]}}</td>
                                        <td>{{log[1]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
              </div>
        </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){$('#example').DataTable();});
</script>


  {% endblock %}

  {% block scripts %}
  <script>
    $(document).ready(function) {
      $('#example').DataTable({
        select: 'single'
      });
      });
  </script>
  {% endblock %}
