{% extends "base.html" %}

{% include "navbar-home.html" %}

{% block content %}

            <div class="container">


                <div class="row mt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center heading-separator" style="color:white">Da5id</h2>
                        <form method="POST" action="{{ url_for('.home_again')}}">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                      <label for="message">System Message:</label>
                                      <input type="text" readonly class="form-control" id="message" name="message" placeholder="{{ message }}">
                                    </div>
                                </div>
                            </div>
                            <div>
                              <p style="color:red"> {{ error }} </p>
                            </div>
                        
                        </form>
                    </div>
                </div><!-- /.form -->

{% endblock %}
