
{% block content %}

<nav id="primary-navigation" class="site-navigation">
    <div class="container">

        <div class="navbar-header">

            <a class="site-title"><span>Andromeda.</span>da5id</a>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="agency-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">


                <li><a href="{{ url_for('home_again') }}">Home</a></li>
                
            </ul>

        </div>

    </div>
</nav><!-- /.site-navigation -->
{% endblock %}
