{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}
        <div class="container">

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white">View Meeting Notes</h2>
                    <form method="POST" action="{{ url_for('.home_again')}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="action" style="color:clack">Meeting title:</label>
                                  <input type="text" readonly class="form-control" value="{{ title }}" id="title" name="title">
                                </div>
                                <div class="form-group">
                                  <label for="action" style="color:white">Company:</label>
                                  <input type="text" readonly class="form-control" value="{{ company }}" id="company" name="company">
                                </div>
                                <div>
                                  <label for="notes">Meeting Notes:</label>
                                  <textarea readonly id="notes" name="notes" rows="10" cols="100">{{notes}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">Return Home</button>
                        </div>
                    </form>
                </div>
            </div><


  {% endblock %}
